.Embed-Aspect {
    position: relative;
    overflow: hidden;
}

.Embed-Aspect iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.Aspect16x9 {
    padding-top: 56.25%;
}

.Aspect4x3 {
    padding-top: .75%;
}

.Aspect1x1 {
    padding-top: 100%;
}

.Embed-Aspect.AspectNone {
    overflow: visible;
    padding: 0;
}

.Embed-Aspect.AspectNone iframe {
    position: relative;
}